source "C:/Users/albin/OneDrive/Documents/pro/PEIP2/BE/esp-idf/components/bootloader/Kconfig.projbuild"
source "C:/Users/albin/OneDrive/Documents/pro/PEIP2/BE/esp-idf/components/esptool_py/Kconfig.projbuild"
source "C:/Users/albin/OneDrive/Documents/pro/PEIP2/BE/esp-idf/components/partition_table/Kconfig.projbuild"